<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="TimecardsDb" connectionString="data source=%APPDATA%\TimecardsData\Timecards.db;version=3;foreign keys=true" providerName="System.Data.SQLite" />
        <add name="TestDb" connectionString="data source=%APPDATA%\TimecardsData\Test.db; version=3;foreign keys=true" providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>
